---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Desarrollador Web (Practica Profesional) - Punta Caribe",
    date: "Abril 2025 - junio 2025",
    description:
      "Desarrolle su sitio web en WordPress, utilizando Elementor y diversos plugins para optimizar la experiencia del usuario. Implementé formularios personalizados con WPForms, integré pagos en línea mediante WooCommerce (WebPay, GetNet), y optimicé el rendimiento (WPO) y posicionamiento SEO del sitio. Además, creé y edité contenido turístico orientado a la conversión, aplicando criterios comerciales y de usabilidad.",
    link: "https://puntacaribe.com/",
  },

];
---

<ol class="relative border-s border-gray-200 dark:border-violet-900 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-8">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
