<div
  class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >Hecho con con cariño por Albert Venegas :D
  </span>
  <ul
    class="flex gap-5 flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <a
      href="https://github.com/AlberTVenegas"
      target="_blank"
      class="hover:text-violet-500"
    >
      Linkedin
    </a>

    <h2 class="hover:text-violet-500">Albertvenegas24@gmail.com</h2>
    <a href="" target="_blank" class="hover:text-violet-500"> Cv </a>
  </ul>
</div>
