<div
  class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >Hecho con con cariño por Albert Venegas
  </span>
  <ul
    class="flex gap-5 flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <a href="https://github.com/AlberTVenegas" target="_blank"> Linkedin </a>

    <h2>Albertvenegas24@gmail.com</h2>
  </ul>
</div>
