---
import "./src/styles/global.css";
---

<header
  class="flex  h-8 rounded-lg  mt-4 bg-violet-950"
>
  <nav class="flex items-center justify-between w-full px-5">
    <a href="#top" class="text-white hover:text-violet-500 transition-colors"
      >Inicio</a
    >
    <a
      href="#experiencia"
      class="text-white hover:text-violet-500 transition-colors">Experiencia</a
    >

    <a
      href="#proyectos"
      class="text-white hover:text-violet-500 transition-colors">Proyectos</a
    >

    <a
      href="#tecnologías"
      class="text-white hover:text-violet-500 transition-colors">Tecnologías</a
    >
        <a
      href="#sobremi"
      class="text-white hover:text-violet-500 transition-colors">Sobre Mi</a
    >
    
  </nav>
</header>
