---
import "./src/styles/global.css";
---

<header
  class="flex items-center justify-center w-96 h-8 rounded-2xl mx-auto mt-4"
>
  <nav class="flex items-center justify-between w-full px-5">
    <a href="/" class="text-white hover:text-violet-500 transition-colors"
      >Experiencia</a
    >

    <a href="/about" class="text-white hover:text-violet-500 transition-colors"
      >Proyectos</a
    >

    <a
      href="/projects"
      class="text-white hover:text-violet-500 transition-colors">Sobre mi</a
    >

    <a
      href="/contact"
      class="text-white hover:text-violet-500 transition-colors">Contacto</a
    >
  </nav>
</header>
