---
import "./src/styles/global.css";
---

<header
  class="flex items-center justify-center w-full xl:w-96 h-8 rounded-lg mx-auto mt-4 bg-violet-950"
>
  <nav class="flex items-center justify-between w-full px-5">
    <a href="#top" class="text-white hover:text-violet-500 transition-colors"
      >Inicio</a
    >
    <a
      href="#experiencia"
      class="text-white hover:text-violet-500 transition-colors">Experiencia</a
    >

    <a
      href="#proyectos"
      class="text-white hover:text-violet-500 transition-colors">Proyectos</a
    >

    <a
      href="#skills"
      class="text-white hover:text-violet-500 transition-colors">Tecnologías</a
    >
    
  </nav>
</header>
