---
import Icons from "./Icons.astro";
---

<div class="w-full ">
  <main class="flex ">
    <section>
      <div class="flex flex-col mt-4 mb-4">
        <h2 class="text-1xl text-gray-400">Buenos D칤as/Noches</h2>
        <h1 class="text-4xl font-bold">Soy Albert Venegas</h1>
      </div>

      <p class="text-lg text-gray-400 text-wrap  w-2xl">
        Egresado de Ingenier칤a en Inform치tica 游뻟릖. <span
          class="font-bold text-violet-600">Analista de Datos</span
        >,<br />
        apasionado por convertir datos en decisiones mediante Python,<br /> SQL y
        Power BI. Experiencia en limpieza, an치lisis y visualizaci칩n de datos,
        construcci칩n de dashboards interactivos y procesos ETL eficientes.
      </p>
      <Icons />
    </section>
    <div class="flex w-52 bg-violet-950/80 rounded-2xl p-4 shadow-lg">
      <img src="./img.webp" alt="" class="" />
    </div>
  </main>
</div>
