---
import "./src/styles/global.css";
import Header from "../components/Header.astro";
import Resume from "../components/Resume.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="h-dvh bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
    <header>
      <><Header /> </>
    </header>
    <main class="max-w-4xl mx-auto maz-h-4xl mt-4 ">
      <slot> <section><Resume /></section></slot>
      
    </main>

    <style is:global>
      body {
        font-family: Onest, sans-serif;
      }
    </style>
  </body>
</html>
